<div class="container">
    <div class="row mx-0 px-3">
        <div class="col-sm-12 mb-4">
            <h3 class="mt-4 mb-3">Selected Playlist</h3>
            <div class="tool">
                <div class="mr-3">
                    <a href="javascript:;" class="btn btn-link p-0" routerLink="/">
            Back to home
          </a>
                </div>
                <button type="button" class="btn btn-warning" (click)="ShuffleSongs(songs, playlistIndex)">
          <i class="fa fa-random mr-2"></i>
          Shuffle
        </button>
            </div>
            <div class="playlist-information my-4">
                <span class="mr-3">
          <span class="title"> Name : </span> {{ currentPlaylist.name }}
                </span>
                <span class="mr-3">
          <span class="title"> Created Date : </span> {{ currentPlaylist.createdDate }}
                </span>
                <span class="mr-3">
          <span class="title"> No of Songs : </span> {{ currentPlaylist.songs.length }}
                </span>
            </div>
            <app-songs [getSongs]="songs" *ngIf="songs.length > 0" [delete]="true"></app-songs>
        </div>
    </div>
</div>